body {
    background: linear-gradient(to bottom, #384c56, #1f2b33);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-container {
    background-color: rgba(255, 255, 255, 0.1); /* Light background */
    padding: 20px;
    border-radius: 10px;
}



@font-face {
    font-family: 'Montserrat';
    src: url('montserrat.ttf') format('truetype');
}

h1, p, label {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
}

p {
    color: white;
    font-size: 20px;
    text-align: justify;
    padding: 0 200px;
}

a {
    background-color: #d8cbcb; /* Dark gray background */
    border: none; /* Remove the border */
    padding: 10px;
    text-decoration: none;   
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; /* Smooth transition */
}

a:hover {
    background-color: #ffffff; /* Darker gray on hover */
    text-decoration: none; /* Remove underline on hover */
}


label {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

