
body, h1, h2, p, div, img, label {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Montserrat';
    src: url('montserrat.ttf') format('truetype');
}


body {
    background-image: url(groundback.png);
    font-family: 'Montserrat', sans-serif;
}

.container {
    text-align: center;
    padding-left: 75px;
    padding-right: 75px;
}

.header-table {
    width: 100%;
    border-collapse: collapse;
}

.header-cell {
    width: 70%;
    padding: 10px;
}

.header-text {
    color: white;
    font-size: 80px;
    margin-right: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header-image {
    width: 500px;
    height: 500px;
}

.name-heading, .year-heading {
    font-size: 25px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.name-heading {
    font-size: 50px;
}

 
.about-me-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-me-link a {
    text-decoration: none; /* Remove underline from the anchor element */
}

.about-me-label {
    background-color: #176674;  
    border: none;  
    padding: 12px 20px;  
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;  
}

.about-me-label:hover {
    background-color: #1f363f; 
}



 
.social-icons {
    margin-top: 20px;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 10px;
}
